---
title: false
styles: true
---

$bodytype: (
  font-family: "Meera Inimai, sans-serif",
  regular: 400,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: '"Lato", sans-serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

// Text colours. British English.
$linkColour: #000000 !default;
$hoverColour: #ffa300 !default;
$captionColour: #faa91a !default;

@import "alembic";


.header .feature {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000000;
  display: none;
  
  @include breakpoint(break-1) {
    display: block;
  }
}